h1 {
  font-size: 20px;
  padding-top: 10px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 30px;
  padding-top: 5px;
  margin-bottom: 0;
}

hr {
  padding: 10px 5px 10px 0;
}

ul li {
  list-style: none;
  text-align: center;
}

#find-weather {
  font-size: 18px;
}

.container {
  width: 600px;
  height: 450px;
  border: 1px solid black;
  padding: 30px;
  margin: auto;
  display: block;
  margin-top: 60px;
}